{% extends 'base.html' %}

{% block navbar %}
    <ul>
        <li><a class="nav-link scrollto" href="{% url 'index' %}">Home</a></li>

        {% if request.user.is_authenticated %}
        <li class="dropdown"><a href="#/"> <span style="background-color: #4154f1; color: white; padding: 5px 15px; border-radius: 20px;"><i class="bi bi-person-fill" style="margin: 0; font-size: 16px;"></i> {{user.first_name}} {{user.last_name}}</span></a>
        <ul id="loggedInProfile" style="padding: 10px; font-size: 14px;">
            <li>
            <div style="display: flex; align-items: center;">
                <img src="{{ profile_picture_url }}" alt="{{ user.username }}" style="margin: 10px 10px 10px 0; height: 50px; width: 50px; border-radius: 50%;">
                <div style="position:relative; display: flex; flex-direction: column;">
                <span><strong>{{user.first_name}} {{user.last_name}}</strong></span>
                <span>{{user.email}}</span>
                </div>
            </div>
            </li>
            <li><a href="{% url 'home' %}" style="justify-content: left; padding: 5px;"><i class="bi bi-list" style="font-size: inherit; margin: 0 10px 0 0;"></i> Main Menu</a></li>
            <li><a href="{% url 'logout' %}" style="justify-content: left; padding: 5px;"><i class="bi bi-power" style="font-size: inherit; margin: 0 10px 0 0;"></i> Logout</a></li>
        </ul>
        </li>
        {% else %}
        <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block mainPageContent %}
<main id="main">

    <section class="breadcrumbs">
        <div class="container">

            <h2 style="margin: 0;">Welcome {{user.first_name}} {{user.last_name}}</h2>

        </div>
    </section>

    <section class="inner-page" style="padding: 30px 0;">
        <div class="container">
            <section id="portfolio-details" class="portfolio-details">
                <div class="row gy-4">
                    <!-- == Left side main menu == -->
                    <div class="col-lg-3">
                        <div class="accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        Main Menu
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            {% block sideMenuContent %}
                                            
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End of Left side main menu -->

                    <!-- == Right side main content == -->
                    <div class="col-lg-9">
                        {% block rightUserContent %}
                        
                        {% endblock %}
                    </div><!-- End of Right side main content -->
                </div>
            </section>
        </div>
    </section>

</main>
{% endblock %}


{% block styleToBase %}
    <style>

        .inner-menu-item:hover {
        background-color: #f7f9ff;
        }
        .inner-menu-item {
        padding: 8px 20px;
        cursor: pointer;
        }
        .menu-content-item {
        padding: 0;
        }

        .date-time-field:before {
        content: var(--label);
        margin-right: .6em;
        color: gray;
        }

        .form-select {
        padding: 10px 15px;
        box-shadow: none;
        font-size: 14px;
        border-radius: 0;
        }

    </style>

    {% block styleToUser %}
    {% endblock %}

{% endblock %}


{% block scriptToBase %}
    <script>
        function displayMenuContent(contentId) {
            items = document.getElementsByClassName("menu-content-item")
            for (var i = 0; i < items.length; i++) {
                items[i].style.display = "none";
            }
            document.getElementById(contentId).style.display="";
        }
    </script>


    <script>
        function filterEvents(){
            filterSelection = document.getElementById('event_filter');
            if (filterSelection) {
                selected = filterSelection.value;
                events_list = document.getElementsByClassName('event_status');
                if(selected == "all") {
                    event_cards = document.getElementsByClassName('event_display_card');
                    for(var i=0; i < event_cards.length; i++) {
                        event_cards[i].style.display = "";
                    }
                }
                else {
                    var count = 0;
                    for(var i=0; i < events_list.length; i++) {
                        status = events_list[i].getAttribute('status_value');
                        event_card = events_list[i].parentElement.parentElement.parentElement.parentElement.parentElement;
                        if(status == selected) {                        
                            event_card.style.display = "";
                            count += 1;
                        }
                        else {
                            event_card.style.display = "none";
                        }
                    }
                    if(count == 0){
                        document.getElementById('emptylistpic').style.display = "";
                    }
                    else{
                        document.getElementById('emptylistpic').style.display = "none";
                    }
                }
            }
        }
    </script>


    {% block scriptToUser %}
    {% endblock %}

{% endblock %}